<h3>Clubhouse Posts:</h3>

<% if @posts.count.zero? %>
  <h5>There are currently no posts in the clubhouse.</h5>
<% elsif user_signed_in? %>
  <% @posts.each do |post| %>
    <%= post.body %><br>
    <%= "-#{post.user.username}" %><br><br>
  <% end %>
<% else %>
  <% @posts.each do |post| %>
    <%= post.body %><br>
    <!-- using erb for the text below so that formatting is consistent -->
    <%= "-login to view author..." %><br><br> 
    <!-- <p>-login to view author...</p><br><br> -->
  <% end %>
<% end %>